.person-card-skeleton {
  background: #b2641f; // same as PersonCard
  border-radius: 12px;
  //   border: 3px solid #b2641f;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 220px; // same as card
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    height: 220px; // exact same as PersonCard
    background: #ddd; // placeholder gray
    position: relative;
    overflow: hidden;
    filter: blur(8px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -150px;
      width: 150px;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      filter: blur(8px);
      animation: shine 1.5s infinite;
    }
  }

  &__name {
    height: 48px; // same approximate height as PersonCard__name
    margin: 0;
    background: #ddd;
    filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }
}

@keyframes shine {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
