.person-card {
  background: #b2641f;
  border-radius: 12px;
  border: 3px solid #b2641f;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  color: #000000;
  outline: none; // remove default outline

  &:hover,
  &:focus-visible {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }

  &:focus:not(:focus-visible) {
    outline: none; // hide focus outline if not keyboard focus
  }

  &__image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
  }

  &__name {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
}
