.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;

  &:hover {
    color: #ffdd33;
  }
}
